@import "tailwindcss";

@plugin "@liberfi/ui-base/dist/styles/heroui";

@source "../src/**/*.{js,ts,jsx,tsx,mdx}";
@source "../stories/**/*.{js,ts,jsx,tsx,mdx}";
@source "../.storybook/**/*.{js,ts,jsx,tsx,mdx}";
@source "../node_modules/@liberfi/ui-base/dist/**/*.{js,ts,jsx,tsx}";
@source "../node_modules/@liberfi/ui-dex/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@heroui/react/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-xxs: 0.625rem;
  --text-xxs--line-height: 0.75rem;
  --color-bullish: #c7ff2e;
  --color-bullish-a50: #c7ff2e80;
  --color-bullish-50: oklch(92.85% 0.222 124.66);
  --color-bullish-100: oklch(88.22% 0.22 124.5);
  --color-bullish-200: oklch(80.56% 0.202 124.69);
  --color-bullish-300: oklch(72.16% 0.181 124.78);
  --color-bullish-400: oklch(63.57% 0.159 124.55);
  --color-bullish-500: oklch(55.21% 0.139 124.87);
  --color-bullish-600: oklch(46.65% 0.116 124.33);
  --color-bullish-700: oklch(38.25% 0.096 124.5);
  --color-bullish-800: oklch(30.51% 0.076 124.24);
  --color-bullish-900: oklch(22.14% 0.056 125);
  --color-bullish-950: oklch(17.31% 0.043 124.41);
  --color-bearish: #f76816;
  --color-bearish-50: #f7681680;
  --color-bearish-50: oklch(68.68% 0.193 43.85);
  --color-bearish-100: oklch(65.76% 0.185 43.98);
  --color-bearish-200: oklch(60.29% 0.17 43.66);
  --color-bearish-300: oklch(54.22% 0.152 43.96);
  --color-bearish-400: oklch(48.76% 0.137 44);
  --color-bearish-500: oklch(42.67% 0.12 43.87);
  --color-bearish-600: oklch(37.18% 0.104 44.14);
  --color-bearish-700: oklch(31.14% 0.088 44.27);
  --color-bearish-800: oklch(25.71% 0.072 45.03);
  --color-bearish-900: oklch(19.42% 0.055 42.24);
  --color-bearish-950: oklch(15.29% 0.044 45.08);
  --color-placeholder: #666666;
  --color-neutral: #999999;
}

@layer base {
  :root {
    --bullish-color: 199 255 46;
    --bearish-color: 247 104 22;
    --header-height: 60px;
    --footer-height: 60px;
    --safe-area-inset-bottom: calc(100vh - var(--tg-viewport-height, 100vh));
    --safe-area-inset-stable-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh));
    --color-separator: #464646;
    --color-protocol-pump: rgb(83, 211, 142);
    --color-protocol-bonk: rgb(231, 140, 25);
    --color-protocol-bags: rgb(62, 154, 0);
    --color-protocol-moonshot: rgb(255, 136, 254);
    --color-protocol-heaven: rgb(229, 229, 230);
    --color-protocol-sugar: rgb(247, 153, 187);
    --color-protocol-believe: rgb(0, 217, 69);
    --color-protocol-jupstudio: rgb(254, 153, 123);
    --color-protocol-moonit: rgb(223, 255, 22);
    --color-protocol-boop: rgb(12, 127, 228);
    --color-protocol-launchlab: rgb(75, 188, 207);
    --color-protocol-virtual-curve: rgb(255, 70, 98);
    --color-protocol-raydium: rgb(54, 117, 249);
    --color-protocol-meteora: rgb(251, 81, 52);
    --color-protocol-pump-amm: rgb(154, 160, 170);
    --color-protocol-orca: rgb(254, 209, 92);
  }

  * {
    outline: 0px solid transparent;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  body {
    padding-bottom: var(--safe-area-inset-bottom, 0);
    @apply antialiased overscroll-none;
  }

  @media (max-width: theme("screens.sm")) {
    * {
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  @media (min-width: theme("screens.sm")) {
    * {
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 100%, 0.2);
        border-radius: 3px;
        &:hover {
          background: hsla(0, 0%, 100%, 0.3);
        }
      }
      scrollbar-width: thin;
      scrollbar-color: hsla(0, 0%, 100%, 0.2) rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes toast-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-25px);
  }

  20% {
    transform: translateX(25px);
  }

  30% {
    transform: translateX(-25px);
  }

  40% {
    transform: translateX(25px);
  }

  50% {
    transform: translateX(-25px);
  }

  60% {
    transform: translateX(25px);
  }

  70% {
    transform: translateX(-25px);
  }

  80% {
    transform: translateX(25px);
  }

  90% {
    transform: translateX(-25px);
  }

  to {
    transform: translateX(0);
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.slick-dots {
  bottom: 6px !important;
}

.slick-dots li {
  width: 7px !important;
}

.slick-dots li button:before {
  opacity: 1 !important;
  content: "" !important;
  width: 6px !important;
  height: 6px !important;
  min-width: 6px !important;
  min-height: 6px !important;
  border-radius: 100% !important;
  background: #666 !important;
}

.slick-dots li.slick-active button:before {
  background: var(--bullish-color) !important;
  width: 10px !important;
  height: 6px !important;
  border-radius: 8px !important;
}

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
