@import "@liberfi.io/ui/tailwind/tailwind.css";

@source "../../../src/**/*.{js,ts,jsx,tsx,mdx}";
@source "../../../node_modules/@liberfi/ui-base/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@liberfi/ui-dex/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@liberfi/ui-redpacket/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@liberfi/ui-launchpad/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@liberfi.io/ui/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@liberfi.io/ui-tokens/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@liberfi.io/ui-scaffold/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../node_modules/@liberfi.io/ui-media-track/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../../../node_modules/@heroui/react/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../../../node_modules/@liberfi.io/ui/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../../../node_modules/@liberfi.io/ui-tokens/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../../../node_modules/@liberfi.io/ui-scaffold/dist/**/*.{js,ts,jsx,tsx}";
@source "../../../../../node_modules/@liberfi.io/ui-media-track/dist/**/*.{js,ts,jsx,tsx}";

@layer base {
  :root {
    --header-height: 60px;
    --footer-height: 56px;
    --safe-area-inset-bottom: calc(100vh - var(--tg-viewport-height, 100vh));
    --safe-area-inset-stable-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh));
  }
}

@layer utilities {
  @keyframes toast-progress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-25px);
    }
    20% {
      transform: translateX(25px);
    }
    30% {
      transform: translateX(-25px);
    }
    40% {
      transform: translateX(25px);
    }
    50% {
      transform: translateX(-25px);
    }
    60% {
      transform: translateX(25px);
    }
    70% {
      transform: translateX(-25px);
    }
    80% {
      transform: translateX(25px);
    }
    90% {
      transform: translateX(-25px);
    }
    to {
      transform: translateX(0);
    }
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* override agent-widget styles */
.agui-chat-widget-container {
  bottom: 0 !important;
  right: 0 !important;
}

.agui-chat-window {
  border-radius: 0 !important;
  border: none !important;
}

.agui-chat-header {
  display: none !important;
}
